@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Roboto:wght@100;500&family=Satisfy&display=swap');
p{
    font-family: 'Roboto';
}
html{
    scroll-behavior: smooth;
}
header {
  position: sticky;
  top: 0%;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 2rem;
  background-color: #fff;
}
h1 {
  font-size: 4rem;
  font-family: 'satisfy';
}
nav {
  display: flex;
}
nav > ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
nav > ul>li {
  width: 100%;
  text-align: center;

}
nav > ul >li >a {
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: 300;
    color: #000;
}
.herobanner {
  height: fit-content;
  background-size: cover;
  overflow: hidden;
}
.herobanner > h2 {
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-family: 'karla';
}
.herobanner > p {
    color: white;
  font-size: 4rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
}
.presentation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  overflow: hidden;
}
.presentation>img{
    width: 100%;

}
.presentation > div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  z-index: 1;
  background-color: #fff;
}
.presentation > div > h2 {
  font-size: 3.2rem;
  margin-left: 8rem;
  font-family: 'Satisfy';
}
.presentation > div > p {
  font-size: 1.6rem;
  margin-left: 8rem;
}
.banner {
  height: 75vh;
  background-color: rgb(255, 255, 255);
  background-image: url('../asset/18.jpeg');
  background-size: cover;
  text-align: center;
}
.banner > h2,a {
    font-family: 'Satisfy';
    color:#fff;
  font-size: 4rem;
  position: relative;
  top: 45%;

}
.banner h2 {
    margin-bottom: 2rem;
}
.banner>a{
    border: thin white solid;
    padding:1rem 4rem 1rem 4rem;
}
.banner>a:hover{
    background-color: rgb(38, 38, 38);
    transition: all 0.3s ease-in-out;
    
}
.prestation{
    display: none;
    height: 65vh;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    gap:1rem;
}
.prestation>h2{
    font-size: 4rem;
    font-family: 'Satisfy';
}
.presta{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 2rem;
}
.presta>li{
    display: flex;
    flex-direction: column;
}
.presta>li>h3{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: 'Satisfy';
}
.presta>li>h3::before{
    content: "- ";
}
.presta>li>h3::after{
    content: " -";
}
.presta>li>ul>li{
    font-size: 1.6rem;
    font-family: 'Roboto';
    list-style:'-';
}
.presta>li>ul>li:last-child{
    font-size: 3.2rem;
    margin-top: 1rem;
    font-family: 'Roboto';
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(38, 38, 38);
    color: #fff;
}
.about>img{
    width: 100%;
}
.abt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    text-align: center;
}
.about>div>h2{
    font-size: 4rem;
    font-family: 'Satisfy';
}
.about>div>p{
    font-size: 1.6rem;
    width: 30vw;
}
.contact{
    background-color: rgb(255, 255, 255);
    color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}
.contact>h2{
    font-size: 4rem;
    font-family: 'Satisfy';
    text-align: center;
    margin-top: 2rem;

}
.contact>p{
    font-size: 2.6rem;
    text-align: center;
}
.contact>ul{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20vw;
}
.contact>ul>li>h3,.contact>h3{
    font-family: 'Satisfy';
    font-size: 3rem;
    text-align: center;
    padding: 1.6rem;
}
.contact>ul>li>p{
    text-align: center;
    font-size: 2rem;
}
.contact>fieldset{
    width: fit-content;
}
.contact>form{
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.contact>form>input,textarea{
    font-size: 1.6rem;
    font-family: 'Roboto';
    background-color: rgb(240, 240, 240);
    padding: 2rem;
}
footer{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-family: 'Roboto';
    
}
.modal-grid{
display: grid;
grid-template-columns: repeat(4,1fr);
margin: 4rem;
gap: 2rem;
}
.modal-grid>li>img{
    width:100%;
    height:100%;

}
.video-dis{
    width: 100vw;
}
.video-dis>video{
    width: 100vw;
}

@media screen and (max-width:768px) {
    header{
        grid-template-columns: repeat(1,1fr);
    }
    nav{
        display: none;
    }
    .herobanner{
        justify-content: center;
    }
    .presentation{
        display: flex;
        flex-direction: column;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .contact>ul{
        gap: 0;
    }
    .presentation>div>p,.presentation>div>h2{
        margin-left: 1rem;
    }
    .banner{background-position: center;

    }
    .about>div>p{
        width: 90vw;
    }
    .abt{
        padding-bottom: 2rem;
    }
    .contact>ul{
        grid-template-columns: repeat(1,1fr);
    }
}